{% extends 'base.html.twig' %}

{% block title %}Mon CV{% endblock %}

{% block body %}
  <div class="cv-container">
    <h1 class="cv-title">Mon CV</h1>

    <div class="cv-box">
      <iframe src="{{ asset('cv/cv_Khadim_Diagne.html') }}" class="cv-frame" title="CV de Khadim"></iframe>
    </div>
  </div>
{% endblock %}