{% extends 'base.html.twig' %}

{% block title %}Mon CV{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>📄 Mon CV</h1>

  <p>Vous pouvez consulter mon CV ci-dessous :</p>

  <iframe src="{{ asset('cv/cv_khadim_diagne.html') }}" width="100%" height="800px" style="border:1px solid #ccc;">
    Ce navigateur ne supporte pas l’affichage PDF. <a href="{{ asset('cv/cv_khadim_diagne.pdf') }}">Télécharger le CV</a>
  </iframe>
</div>
{% endblock %}